<h1 class="site-title">
    <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
</h1>
<span class="foo-container">
    <div class="left">
        {{ partial "fontawesome.html" "ankh" }}
    </div>
    <div>
        {{ partial "fontawesome.html" "ankh" }}
    </div>
    <div class="right">
        {{ partial "fontawesome.html" "ankh" }}
    </div>
</span>
{{ if .Site.Menus.main }}
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </nav>
{{ else }}
    <nav></nav>
{{ end }}
